/* Note: all rules should be applied only to #exercise-text children */

#exercise-text {
    font-size: 1.6rem;
}

#exercise-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#exercise-text code {
    background-color: #f6f6f6;
}

#exercise-text img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ADOC rules */

#exercise-text .codehl.run {
    display: inline-block !important;
    margin-top: 1rem !important;
    color: #999 !important;
}

#exercise-text .codehl.run * {
    color: #999 !important;
}

#exercise-text .codehl.input {
    color: #0000ff !important;
}
#exercise-text .codehl.input * {
    color: #0000ff !important;
}

#exercise-text ul {
    /* Waiting for revert support... */
    padding-left: 4rem !important;
    list-style-type: unset !important;
}

#exercise-text ul > li {
    list-style-type: unset !important;
}

/* Collapsible outline */
#exercise-text details > summary:focus {
    outline: none;
}


/* Legacy pure-HTML rules */

#exercise-text .italic {
    font-style: italic;
}

#exercise-text .bold {
    font-weight: bold;
}

#exercise-text .program-example {
    border: 1px solid #ddd;
    padding: 0 1rem;
    white-space: pre-wrap;
}

#exercise-text .exercise-hint {
    font-size: 1.2rem;
}
