/* Note: all rules should be applied only to #exercise-text children */

#exercise-text {
    font-size: 1.6rem;
    overflow: auto;
}

#exercise-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#exercise-text code {
    background-color: #f6f6f6;
    color: #333;
    font-style: normal;
}

#exercise-text code strong {
    font-weight: 600;
}

#exercise-text pre {
    margin: 0;
}

#exercise-text img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ADOC rules */

#exercise-text .codehl.run {
    display: inline-block !important;
    margin-top: 1rem !important;
    color: #999 !important;
}

#exercise-text .codehl.run * {
    color: #999 !important;
}

#exercise-text .codehl.input,
#exercise-text .codehl.input * {
    color: #0000ff !important;
}

#exercise-text .codehl.nohl,
#exercise-text .codehl.nohl * {
    color: #333 !important;
    font-weight: normal;
}

/* Fix Materialize lists */
#exercise-text ul {
    /* Waiting for revert support... */
    padding-left: 4rem !important;
    list-style-type: unset !important;
}

#exercise-text ul > li {
    list-style-type: unset !important;
}

#exercise-text ul ul {
    list-style-type: circle !important;
}

#exercise-text ul ul ul {
    list-style-type: square !important;
}

#exercise-text details > summary {
    outline: none;
    cursor: pointer;
}

#exercise-text details > summary:hover {
    color: #039be5;
}

#exercise-text details > .content {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

#exercise-text .listingblock > .title {
    margin-top: 2rem;
    font-size: 0.95em;
}

#exercise-text .small {
    font-size: 0.83em;
}

#exercise-text .imageblock.text-center {
    display: flex;
    justify-content: center;
}


/* Legacy pure-HTML rules */

#exercise-text .italic {
    font-style: italic;
}

#exercise-text .bold {
    font-weight: bold;
}

#exercise-text .program-example {
    border: 1px solid #ddd;
    padding: 0 1rem;
    white-space: pre-wrap;
}

#exercise-text .exercise-hint {
    font-size: 1.2rem;
}
