
/* Note: all rules should be applied only to #exercise-text children */

#exercise-text {
    font-size: 1.6rem;
}

#exercise-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#exercise-text .italic {
    font-style: italic;
}

#exercise-text .bold {
    font-weight: bold;
}

#exercise-text code {
    background-color: #eeeeee;
}

#exercise-text img {
    display: block;
    max-width: 100%;
    height: auto;
}

#exercise-text .program-example {
    border: 1px solid #ddd;
    padding: 0 1rem;
    white-space: pre-wrap;
}

#exercise-text .exercise-hint {
    font-size: 1.2rem;
}
