/** Page, body, general **/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    height: 100%;
    color: #333;
}

body {
    background: url('../img/bg_v3.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 320px;
}

.subheading-item {
    display: flex;
    flex-wrap: wrap;
}

.subheading {
    color: #4DAB54;
    font-weight: 500;
    margin-right: 0.5rem;
}

h2 {
    font-size: 2.3rem;
}

h4 {
    font-size: 2rem;
}


/** Navbar **/

nav {
    background-color: #4DAB54;
}

.logo-img {
    max-height: 58px;
    height: 30px;
    vertical-align: middle;
}

.logo-text {
    font-size: 2.2rem;
    font-family: 'Sniglet', cursive;
    vertical-align: middle;
    margin-left: 3px;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline-block;
    float: none;
}

nav.nav-center ul li a.nav-link {
    font-weight: 500;
    font-size: 2.7rem;
    color: #fff;
    padding: 0 32px;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 58px;
        line-height: 58px;
    }
}

#profile-wrapper {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 1.7rem;
}

#profile-logo {
    font-size: 37px;
    margin-right: 10px;
}

#profile-name {
    display: none;
}

@media only screen and (min-width: 993px) {
    #profile-name {
        display: inline-block;
    }
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #000;
    font-size: 1.5rem;
}

#active-role-label {
    min-height: 30px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #999;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content .role-radio-icon {
    font-size: 1.6rem;
    margin-right: .5rem;
    color: #469c45;
}


/** Sidenav **/

.sidenav-trigger {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
}

@media only screen and (min-width: 993px) {
    .sidenav-trigger {
        display: none;
    }
}

.sidenav > li > a, .sidenav .subheader {
    color: #4c4c4c;
    height: 58px;
    line-height: 58px;
}

.sidenav > li > a {
    font-size: 1.4rem;
}

.sidenav .subheader {
    font-size: 2rem;
    text-align: center;
}

.sidenav .divider {
    margin: 0 0 8px 0;
    height: 2px;
}

.sidenav > li > a > i.material-icons {
    margin-right: 15px;
    margin-top: 5px;
}


/** Container **/

div.container {
    position: relative;
    width: 95%;
    max-width: 541px;
}

@media only screen and (min-width: 601px) {
    div.container {
        width: 90%;
        max-width: 795px;
    }
}

@media only screen and (min-width: 993px) {
    div.container {
        width: 80%;
        max-width: 900px;
    }
}

@media only screen and (min-width: 1500px) {
    div.container {
        width: 60%;
        max-width: unset;
    }
}

#content-container {
    font-size: 1.6rem;
    padding-bottom: 3rem;
}

div.sidenav-container {
    padding-left: 300px;
    max-width: unset;
    width: 80%;
}


/** Breadcrumbs **/

nav.crumb-wrap {
    background: none;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
    height: unset;
    min-height: 5rem;
    width: unset;
}

nav.crumb-wrap .breadcrumb {
    color: #777;
    font-size: 1.4rem;
    line-height: 3rem;
}

nav.crumb-wrap .breadcrumb:last-child {
    color: #222;
}

nav.crumb-wrap .breadcrumb:after {
    content: '\E5CC';
    color: #aaa;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 2.2rem;
    margin: 0 1rem 0 1rem;
    -webkit-font-smoothing: antialiased;
}

nav.crumb-wrap .breadcrumb:last-child:after {
    display: none;
}

nav.crumb-wrap .breadcrumb:before {
    display: none;
}


/** Course exercise page **/

#exercise-card .aa-files-wrap {
    margin-top: 1rem;
}

#exercise-card #restore-latest-sub-btn {
    transition: opacity .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

#exercise-card #restore-latest-sub-btn.visible {
    visibility: inherit;
    opacity: inherit;
}

#exercise-card pre.feedback {
    font-size: 1.4rem;
    white-space: normal;
}

#exercise-card pre.auto-feedback {
    background-color: #f5f5f5;
    white-space: pre;
    overflow: auto;
}

#exercise-card .grade-number {
    font-weight: 500;
}

#exercise-card label[for=feedback],
#exercise-card label[for=grade] {
    font-size: 1.6rem;
}

#exercise-card #feedback:focus {
    border-bottom: 1px solid #469c45;
    -webkit-box-shadow: 0 1px 0 0 #469c45;
    box-shadow: 0 1px 0 0 #469c45;
}

#exercise-card #feedback:focus + label {
    color: #469c45;
}

#exercise-card #submission-info,
#exercise-card .assessment {
    margin-bottom: 3rem;
}

#exercise-card #submission-info {
    display: flex;
    flex-wrap: wrap;
}

#exercise-card #grade:focus {
    border-bottom: 1px solid #469c45;
    -webkit-box-shadow: 0 1px 0 0 #469c45;
    box-shadow: 0 1px 0 0 #469c45;
}

#exercise-card #grade:focus + label {
    color: #469c45;
}

#exercise-card .submission-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#exercise-card .group-select-wrap {
    width: fit-content;
    width: -moz-fit-content;
    margin-bottom: 2rem;
}

#exercise-card #export-submissions-button {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

#exercise-card .submission-item > * {
    flex-shrink: 0;
}

#exercise-card .collection-item {
    line-height: 4rem;
}

#exercise-card .collection-item .row {
    margin-bottom: 0;
}

#exercise-card .collection-item.inactive {
    color: #aaa;
}

#exercise-card .collection-item.inactive:hover {
    background-color: unset;
}

#exercise-card .eval-logo-auto {
    vertical-align: sub;
    width: 24px;
    margin-left: 10px;
}

#exercise-card .groups {
    font-size: 0.8em;
    margin-left: 1rem;
}

#exercise-card .time {
    font-size: 0.8em;
    margin: 0 1rem;
    flex-shrink: 1;
}

#exercise-card .grade {
    font-size: 0.8em;
}

#exercise-card .eval-logo-teacher {
    color: #aaa;
    margin-left: 10px;
}

#exercise-card .eval-logo-missing {
    vertical-align: middle;
    width: 24px;
    margin-left: 10px;
}

#exercise-card .divided-collection .collection-item {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1),
    0 2px 1px -2px rgba(0, 0, 0, 0.09),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

#exercise-card .submission-title {
    display: inline-block;
    margin: 2.5rem 0 1.5rem 0;
}

#exercise-card span.last-submission-label {
    margin-left: 1rem;
}

#exercise-card .all-submissions-wrap {
    max-height: 35vh;
    overflow: auto;
}

#exercise-card .eval-logo-auto.sm {
    width: 22px;
}

#exercise-card .eval-logo-missing.sm {
    width: 22px;
}


/** Courses page **/

#courses-list .teacher-course-wrapper {
    position: relative;
}

#courses-list a.course-add-students {
    position: absolute;
    top: 11px;
    right: 5px;
    color: #4cab54;
    text-transform: none;
}

#courses-list span.course-student-count {
    font-size: 1.9rem;
    color: #333;
    margin-left: 1rem;
    display: none;
}

@media only screen and (min-width: 400px) {
    #courses-list span.course-student-count {
        display: initial;
    }

    #courses-list a.course-add-students {
        right: 20px;
    }
}

@media only screen and (min-width: 600px) {
    #courses-list a.course-add-students {
        top: 18px;
    }
}

#courses-list a.course-add-students:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#courses-list a.course-add-students > i.material-icons {
    font-size: 2.5rem;
}


/** Exercises page **/

#exercises-list .exercise-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}

#exercises-list .exercise-item > * {
    margin: 0 1rem;
}

#exercises-list .deadline {
    font-size: 0.8em;
}

#exercises-list .grade {
    text-align: right;
    font-size: 0.8em;
}

#exercises-list .eval-logo-auto {
    vertical-align: sub;
    width: 24px;
    margin-left: 10px;
}

#exercises-list .eval-logo-teacher {
    color: #aaa;
    margin-left: 10px;
}

#exercises-list .eval-logo-missing {
    vertical-align: middle;
    width: 24px;
    margin-left: 10px;
}

#exercises-list .collection-item .row {
    margin-bottom: 0;
}


/** Exercise page **/

#global-exercise .pre-exercise-text-wrap {
    display: flex;
    justify-content: flex-end;
}


/* Code editor */

.editor-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0 0.3rem 0.3rem 0.3rem;
    background-color: #eee;
}

@media only screen and (min-width: 601px) {
    .editor-wrapper {
        padding: 0 1rem 1rem 1rem;
    }
}

.editor-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    padding: .5rem 1rem;
    color: #999;
}

.editor-top .top-item {
    margin: 0 .75rem;
}

.editor-top a {
    color: #999;
    transition: .3s ease-out;
}

.editor-top a:hover {
    color: #555;
}

.editor-top .left-side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.editor-top .right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.editor-top #editor-top-text {
    font-size: 1.2rem;
}

.editor-top #sync-indicator {
    line-height: 0;
    width: 24px;
    height: 24px;
}

.editor-top #sync-indicator .icon {
    position: absolute;
    transition: opacity .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    cursor: default;
}

.editor-top #sync-indicator .icon.visible {
    visibility: inherit;
    opacity: inherit;
}

.editor-top .preloader-wrapper {
    width: 20px;
    height: 20px;
    margin: 2px 2px;
}

.editor-top .circle-clipper .circle {
    border-width: 1px;
    border-color: #999;
}

.editor-top .editor-tab {
    margin: 0;
    padding: 0 .75rem;
    border: 1px solid #ccc;
    -webkit-box-shadow: 2px 3px 8px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 3px 8px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 3px 8px -2px rgba(0, 0, 0, 0.15);
}

.editor-top .editor-tab.active {
    color: #555;
    cursor: default;
    -webkit-box-shadow: inset 2px 3px 8px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 2px 3px 8px -2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 2px 3px 8px -2px rgba(0, 0, 0, 0.15);
}

.editor-top .editor-tab:not(:last-child) {
    margin-right: 10px;
}

.CodeMirror {
    font-size: 1.4rem;
    height: auto;
}

.CodeMirror-scroll {
    min-height: 20vh;
    max-height: 85vh;
}

.editor-read-only .CodeMirror-cursors {
    visibility: hidden !important;
}

.editor-read-only .CodeMirror {
    background-color: #f6f6f6;
}


/** Participants page **/

#participants-container .subsection-wrap {
    display: flex;
    justify-content: space-between;
}

#participants-container ez-pagination {
    padding: 0 1rem;
}

#participants-container h4.subsection {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#participants-container h5.subsection {
    margin-top: 3rem;
}

#participants-container #add-students-wrap {
    border: 1px solid #ddd;
    background-color: #eee;
}

#participants-container div#add-students-help {
    margin-bottom: 2rem;
}

#participants-container div#new-students-form-wrap {
    margin-bottom: 0;
}

#participants-container #new-students-field {
    min-height: 6rem;
}

#participants-container .card {
    margin: .5rem 0;
}

#participants-container .card .card-content {
    padding: 5px 10px 0 10px;
}

#participants-container table th {
    font-weight: 500;
}

#participants-container .pending-icon {
    margin-left: 5px;
    font-size: 1.3em;
    cursor: default;
}

/** Grade table page **/

.grade-table-wrap {
    white-space: nowrap;
    overflow-x: auto;
}

.grades-wrap .pre-table-wrap,
.grades-wrap .post-table-wrap {
    display: flex;
    justify-content: flex-end;
}

.grades-wrap .pre-table-wrap {
    margin-bottom: 2rem;
}

.grades-wrap .post-table-wrap {
    margin-top: 2rem;
}

.grade-table-wrap table > tbody > tr {
    border-bottom: 1px solid #ddd;
}

.grade-table-wrap table > thead > tr > th {
    font-weight: 500;
}

.grade-table-wrap table > thead > tr > th.header-spacer {
    min-width: 12rem;
    width: 12rem;
}

@media only screen and (min-width: 400px) {
    .grade-table-wrap table > thead > tr > th.header-spacer {
        min-width: 18rem;
        width: 18rem;
    }
}

.grade-table-wrap table.truncated-ex > thead > tr > th .wrap {
    display: flex;
}

.grade-table-wrap table.truncated-ex > thead > tr > th .text {
    width: 7rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grade-table-wrap table > thead > tr > th,
.grade-table-wrap table > tbody > tr > td {
    padding: 1rem 1rem;
}

.grade-table-wrap table > tbody > tr > td:first-child {
    text-align: right;
    font-weight: 500;
}

.grade-table-wrap table > tbody > tr > td {
    text-align: center;
}

.grade-table-wrap table > tbody > tr > td.student {
    position: absolute;
    background-color: #fff;
    width: 12rem;
}

@media only screen and (min-width: 400px) {
    .grade-table-wrap table > tbody > tr > td.student {
        width: 18rem;
    }
}

.grade-table-wrap table.colored > tbody > tr > td.finished {
    background-color: #daf1da;
}

.grade-table-wrap table.colored > tbody > tr > td.unfinished {
    background-color: #fff1cc;
}

.grade-table-wrap table.colored > tbody > tr > td.unstarted {
    background-color: #f6f6f6;
}

.grade-table-wrap table.colored > tbody > tr > td.ungraded {
    background-color: #cde6fe;
}

.grade-table-wrap table > thead > tr > th:not(:last-child),
.grade-table-wrap table > tbody > tr > td:not(:last-child) {
    border-right: 1px solid #ddd;
}


/** Common **/


/** General **/

.display-none {
    display: none !important;
}

.flex {
    display: flex !important;
}


/** General animations **/

@keyframes eye-blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%, 95% {
        transform: scale(1, 1);
    }
}


/** Buttons **/

.btn {
    background-color: #4DAB54;
}

.btn:hover {
    background-color: #4DAB54;
}


/** Links **/

/*a[href]:hover {*/
/*    text-decoration: underline;*/
/*}*/

.toggle-link {
    display: block;
    padding-bottom: 0.5rem;
}

.toggleable-wrap {
    padding: 0.5rem;
    border: 1px solid #eee;
}

@media only screen and (min-width: 400px) {
    .toggleable-wrap {
        padding: 1rem;
    }
}

@media only screen and (min-width: 601px) {
    .toggleable-wrap {
        padding: 2rem;
    }
}

a.uncolored {
    color: inherit;
}

a i.pre-link-icon {
    font-size: 1.1em;
    margin-right: .4rem;
}


/** Notes **/

.note {
    display: inline-flex;
    align-items: center;
    padding: 2px 5px;
    margin-bottom: 1rem;
}

.note.warn {
    background-color: #fbf7e5;
    border: 1px solid #f9eaa9;
}

.note .material-icons {
    margin-right: 10px;
}

.material-icons.warn {
    color: #da8403;
}

.note > .content {
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
}


/** Form elements **/

input,
textarea {
    height: 4rem !important;
}

.input-field label {
    pointer-events: all;
}

textarea:focus {
    border-bottom: 1px solid #469c45 !important;
    -webkit-box-shadow: 0 1px 0 0 #469c45 !important;
    box-shadow: 0 1px 0 0 #469c45 !important;
}

textarea + label {
    font-size: 1.6rem !important;
}

*:focus + label {
    color: #469c45 !important;
}

.select-wrapper + label {
    font-size: 1.3rem
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #469c45 !important;
}

/* Not sure about this */
/*.select-dropdown.dropdown-content li.selected,*/
/*body.keyboard-focused .select-dropdown.dropdown-content li:focus {*/
/*    background-color: rgba(70, 156, 69, 0.1);*/
/*}*/


/** Divided collection **/

div.divided-collection a.collection-item {
    font-size: 1.8rem;
    line-height: 3rem;
    color: #333;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-bottom: none;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1),
    0 2px 1px -2px rgba(0, 0, 0, 0.09),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 600px) {
    div.divided-collection a.collection-item {
        font-size: 2.1rem;
        line-height: 5rem;
    }
}

.divided-collection .collection-item.sm {
    padding-top: 0;
    line-height: 4.5rem;
    font-size: 1.6rem;
}

.divided-collection a.collection-item:not(.active):hover {
    background-color: #e5e5e5;
}

div.divided-collection {
    border: none;
    overflow: unset;
    position: relative;
}

.divided-collection .collection-item.sm .content {
    display: flex;
    justify-content: space-between;
}


/** Bottom distribution bar **/

.bb-wrap {
    padding-bottom: 0 !important;
}

.bb {
    line-height: 0;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
}

.bb-item {
    display: inline-block;
    height: 20px;
    width: 100%;
}

.bb-item.sm {
    border-width: 3px;
    height: 0;
}

.bb-green {
    border-bottom: 7px solid #4DAB54;
}

.bb-yellow {
    border-bottom: 7px solid #ffd052;
}

.bb-blue {
    border-bottom: 7px solid #688ffd;
}

.bb-grey {
    border-bottom: 7px solid #c1c1c1;
}


/** Page title **/

h3.title {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

@media only screen and (min-width: 600px) {
    h3.title {
        font-size: 2.9rem;
    }
}

.title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-wrap.no-crumb {
    margin-top: 3.5rem;
}

.title-button > .text {
    margin-left: 1rem;
    vertical-align: middle;
    display: none;
}

@media only screen and (min-width: 400px) {
    .title-button > .text {
        display: initial;
    }
}

div.title-wrap > .title-button > i.material-icons {
    font-size: 2rem;
}


/** Card tabs **/

.tabs-wrap {
    text-align: center;
}

.tabs .tab {
    text-transform: none;
}

.tabs .tab a {
    font-size: 1.7rem;
    color: gray;
}

@media only screen and (min-width: 601px) {
    .tabs .tab a {
        font-size: 2.1rem;
    }
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: transparent;
    color: #4DAB54;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: rgba(77, 171, 84, 0.2);
    outline: none;
}

.tabs .indicator {
    background-color: #4DAB54;
}

.tabs-wrap + .card-content {
    padding: 1.3rem;
    border-top: 1px solid #e2e2e2;
}

@media only screen and (min-width: 601px) {
    .tabs-wrap + .card-content {
        padding: 2.4rem;
    }
}


/** Loading placeholders **/

@keyframes pulse {
    0%,
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    90%,
    100% {
        opacity: 1;
    }
}

.loading-collection {
    border: none;
}

.loading-collection .item {
    background: rgb(214, 214, 214);
    animation: pulse 1s linear infinite alternate;
    border-radius: 0.5rem;
    opacity: 0.3;
}


.loading-list .item {
    height: 6rem;
    margin: 2rem 0;
}

.loading-list .item:first-child {
    margin-top: 0;
}

.loading-list .item.title {
    width: 20%;
    height: 3.7rem;
    margin-bottom: 2.5rem;
}

.loading-list .item:nth-child(1) {
    animation-delay: 0.2s;
}

.loading-list .item:nth-child(2) {
    animation-delay: 0.5s;
}

.loading-list .item:nth-child(3) {
    animation-delay: 0.7s;
}

.loading-list .item:nth-child(4) {
    animation-delay: 0.9s;
}


.loading-exercise .item {
    height: 1.7rem;
    margin-bottom: 2rem;
}

.loading-exercise .item.meta {
    background: rgba(71, 149, 73, 0.45);
}

.loading-exercise .item.title {
    height: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

.loading-exercise .item:nth-child(1) {
    animation-delay: 0.1s;
    width: 13rem;
}

.loading-exercise .item:nth-child(2) {
    animation-delay: 0.2s;
    width: 15rem;
}

.loading-exercise .item:nth-child(3) {
    animation-delay: 0.3s;
    width: 11rem;
}

.loading-exercise .item:nth-child(4) {
    animation-delay: 0.4s;
    width: 25%;
}

.loading-exercise .item:nth-child(5) {
    animation-delay: 0.5s;
    width: 75%;
}

.loading-exercise .item:nth-child(6) {
    animation-delay: 0.6s;
}

.loading-exercise .item:nth-child(7) {
    animation-delay: 0.7s;
    width: 45%;
}

.loading-exercise .item:nth-child(8) {
    animation-delay: 0.8s;
    width: 60%;
}


.loading-submission .item {
    height: 1.7rem;
    margin-bottom: 2rem;
}

.loading-submission .item.meta {
    background: rgba(71, 149, 73, 0.45);
}

.loading-submission .item:nth-child(1) {
    animation-delay: 0.1s;
    width: 20rem;
    margin-bottom: 3rem;
}

.loading-submission .item:nth-child(2) {
    animation-delay: 0.2s;
    height: 3rem;
    width: 22rem;
    margin-bottom: 1rem;
}

.loading-submission .item:nth-child(3) {
    animation-delay: 0.3s;
    height: 20rem;
    width: 100%;
}

.loading-submission .item:nth-child(4) {
    animation-delay: 0.4s;
    width: 17rem;
    margin-bottom: 4rem;
}

.loading-submission .item:nth-child(5) {
    animation-delay: 0.5s;
    height: 20rem;
    width: 100%;
}


/** Empty placeholders **/

.missing-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
    margin-top: 2rem;
    padding: 20px;
    background-color: #e3e3e3;
}

.missing-content-wrap .robot {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 50px;
    height: 40px;
    padding: 11px 7px 0 7px;
    background-color: #a8a8a8;
    border-radius: 20%;
}

.missing-content-wrap .antenna {
    width: 8px;
    height: 10px;
    flex-shrink: 0;
    background-color: #a8a8a8;
}

.missing-content-wrap .antennaball {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background-color: #a8a8a8;
    border-radius: 50%;
    transform: translateY(3px);
}

.missing-content-wrap .antennaball:hover {
    background-color: #fbff00;
    box-shadow: 0 0 10px 10px rgba(255, 255, 190, 0.8);
}

.missing-content-wrap .robot-eye {
    background: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    animation: eye-blink 3s infinite;
}

.missing-content-wrap .text {
    font-size: 2rem;
    color: #828282;
}

.sad-robot .robot-eye {
    animation: none;
    border-radius: 0 0 7px 7px;
    height: 8px;
}

.sad-robot .antennaball {
    transform: translate(7px, 6px);
}

.sad-robot .antennaball:hover {
    background-color: #a8a8a8;
    box-shadow: none;
}

.sad-robot .antenna {
    transform: rotate(25deg) translate(3px, 2px);
}

.sad-robot .robot-eye.left {
    transform: rotate(-20deg) translate(-1px, 3px);
}

.sad-robot .robot-eye.right {
    transform: rotate(20deg) translate(1px, 3px);
}

.missing-content-wrap .dead-eye {
    height: 14px;
    width: 14px;
    transform: translateY(-2px);
}

.missing-content-wrap .dead-eye:after {
    font-size: 28px;
    color: #fff;
    line-height: 1px;
    text-align: center;
    content: '\d7';
}


/** Icon **/

i.material-icons {
    vertical-align: middle;
}

a i.material-icons,
button i.material-icons {
    cursor: inherit;
}


/** Toast **/

#toast-container {
    max-width: 35%;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

@media only screen and (min-width: 993px) {
    #toast-container {
        right: 3rem;
    }
}

.toast i.material-icons.dismiss {
    font-size: 2.5rem;
    color: #888;
}

.toast {
    font-size: 1.6rem;
    background-color: #333;
    min-width: 20rem;
}

.toast .msg {
    white-space: pre-wrap;
}


/** Tooltip **/

.material-tooltip {
    font-size: 1.6rem;
}


/** Green waves **/

.waves-effect.waves-green .waves-ripple {
    background-color: #a5c9a4;
}


/** Pagination **/

ez-pagination {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

ez-pageinfo {
    font-size: .9em;
    margin-right: 2rem;
}

ez-pagebtn {
    display: inline-block;
    margin: 0 .2rem;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

ez-pagebtn[disabled] {
    color: rgba(0, 0, 0, .26);
    cursor: default;
}


/** Full page loading **/

.loading-full-page {
    display: flex;
    min-height: 85vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loading-full-page .loading-wrap {
    background-color: #eee;
    box-shadow: 0 0 50px 50px #eee;
    border-radius: 30%;
    padding: 50px 80px 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-full-page .robot {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 75px;
    height: 60px;
    padding: 16px 10px 0 10px;
    background-color: #a8a8a8;
    border-radius: 20%;
}

.loading-full-page .antenna {
    width: 12px;
    height: 15px;
    flex-shrink: 0;
    background-color: #a8a8a8;
}

.loading-full-page .antennaball {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #a8a8a8;
    border-radius: 50%;
    transform: translateY(4px);
    animation: morse 18825ms step-start;
}

.loading-full-page .robot-eye {
    background: white;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    animation: eye-blink 3s infinite;
}

@keyframes morse {
    /* @formatter:off */
    0% {background-color: #a8a8a8; box-shadow: none;}1.2%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}1.59%{background-color: #a8a8a8; box-shadow: none;}1.99%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}2.39%{background-color: #a8a8a8; box-shadow: none;}3.59%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}3.98%{background-color: #a8a8a8; box-shadow: none;}5.18%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}6.37%{background-color: #a8a8a8; box-shadow: none;}7.57%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}7.97%{background-color: #a8a8a8; box-shadow: none;}9.16%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}9.56%{background-color: #a8a8a8; box-shadow: none;}10.76%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}11.95%{background-color: #a8a8a8; box-shadow: none;}12.35%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}12.75%{background-color: #a8a8a8; box-shadow: none;}13.15%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}13.55%{background-color: #a8a8a8; box-shadow: none;}14.74%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}15.94%{background-color: #a8a8a8; box-shadow: none;}16.33%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}16.73%{background-color: #a8a8a8; box-shadow: none;}17.93%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}18.33%{background-color: #a8a8a8; box-shadow: none;}19.52%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}19.92%{background-color: #a8a8a8; box-shadow: none;}21.12%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}21.51%{background-color: #a8a8a8; box-shadow: none;}22.71%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}23.11%{background-color: #a8a8a8; box-shadow: none;}23.51%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}24.7%{background-color: #a8a8a8; box-shadow: none;}25.1%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}25.5%{background-color: #a8a8a8; box-shadow: none;}26.69%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}27.09%{background-color: #a8a8a8; box-shadow: none;}27.49%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}28.69%{background-color: #a8a8a8; box-shadow: none;}29.08%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}31.87%{background-color: #a8a8a8; box-shadow: none;}32.27%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}32.67%{background-color: #a8a8a8; box-shadow: none;}33.86%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}36.65%{background-color: #a8a8a8; box-shadow: none;}37.05%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}37.45%{background-color: #a8a8a8; box-shadow: none;}38.65%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}39.04%{background-color: #a8a8a8; box-shadow: none;}40.24%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}41.43%{background-color: #a8a8a8; box-shadow: none;}41.83%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}42.23%{background-color: #a8a8a8; box-shadow: none;}42.63%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}43.82%{background-color: #a8a8a8; box-shadow: none;}45.02%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}45.42%{background-color: #a8a8a8; box-shadow: none;}46.61%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}47.01%{background-color: #a8a8a8; box-shadow: none;}47.41%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}47.81%{background-color: #a8a8a8; box-shadow: none;}48.21%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}49.4%{background-color: #a8a8a8; box-shadow: none;}49.8%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}50.2%{background-color: #a8a8a8; box-shadow: none;}51.39%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}52.59%{background-color: #a8a8a8; box-shadow: none;}52.99%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}53.39%{background-color: #a8a8a8; box-shadow: none;}54.58%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}54.98%{background-color: #a8a8a8; box-shadow: none;}55.38%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}56.57%{background-color: #a8a8a8; box-shadow: none;}57.77%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}58.17%{background-color: #a8a8a8; box-shadow: none;}58.57%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}58.96%{background-color: #a8a8a8; box-shadow: none;}59.36%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}60.56%{background-color: #a8a8a8; box-shadow: none;}61.75%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}62.15%{background-color: #a8a8a8; box-shadow: none;}63.35%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}63.75%{background-color: #a8a8a8; box-shadow: none;}64.14%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}64.54%{background-color: #a8a8a8; box-shadow: none;}64.94%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}65.34%{background-color: #a8a8a8; box-shadow: none;}66.53%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}66.93%{background-color: #a8a8a8; box-shadow: none;}68.13%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}70.92%{background-color: #a8a8a8; box-shadow: none;}71.31%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}71.71%{background-color: #a8a8a8; box-shadow: none;}72.11%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}72.51%{background-color: #a8a8a8; box-shadow: none;}72.91%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}73.31%{background-color: #a8a8a8; box-shadow: none;}73.71%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}74.9%{background-color: #a8a8a8; box-shadow: none;}75.3%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}75.7%{background-color: #a8a8a8; box-shadow: none;}76.89%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}78.09%{background-color: #a8a8a8; box-shadow: none;}78.49%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}78.88%{background-color: #a8a8a8; box-shadow: none;}80.08%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}80.48%{background-color: #a8a8a8; box-shadow: none;}80.88%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}82.07%{background-color: #a8a8a8; box-shadow: none;}82.47%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}82.87%{background-color: #a8a8a8; box-shadow: none;}84.06%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}84.46%{background-color: #a8a8a8; box-shadow: none;}84.86%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}86.06%{background-color: #a8a8a8; box-shadow: none;}87.25%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}87.65%{background-color: #a8a8a8; box-shadow: none;}88.05%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}88.45%{background-color: #a8a8a8; box-shadow: none;}89.64%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}90.04%{background-color: #a8a8a8; box-shadow: none;}91.24%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}92.43%{background-color: #a8a8a8; box-shadow: none;}93.63%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}94.02%{background-color: #a8a8a8; box-shadow: none;}94.42%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}94.82%{background-color: #a8a8a8; box-shadow: none;}96.02%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}96.41%{background-color: #a8a8a8; box-shadow: none;}96.81%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}97.21%{background-color: #a8a8a8; box-shadow: none;}98.41%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}98.8%{background-color: #a8a8a8; box-shadow: none;}100.0%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}
    /* @formatter:on */
}


/** XS-screen addon **/

@media only screen and (max-width: 399px) {
    .row .col.xs1 {
        width: 8.3333333333%;
    }

    .row .col.xs2 {
        width: 16.6666666667%;
    }

    .row .col.xs3 {
        width: 25%;
    }

    .row .col.xs4 {
        width: 33.3333333333%;
    }

    .row .col.xs5 {
        width: 41.6666666667%;
    }

    .row .col.xs6 {
        width: 50%;
    }

    .row .col.xs7 {
        width: 58.3333333333%;
    }

    .row .col.xs8 {
        width: 66.6666666667%;
    }

    .row .col.xs9 {
        width: 75%;
    }

    .row .col.xs10 {
        width: 83.3333333333%;
    }

    .row .col.xs11 {
        width: 91.6666666667%;
    }

    .row .col.xs12 {
        width: 100%;
    }
}

