/** Page, body, general **/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    height: 100%;
}

body {
    background: url('../img/bg_v3.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}


/** Navbar **/

nav {
    background-color: #4DAB54;
}

.logo-img {
    max-height: 58px;
    height: 30px;
    vertical-align: middle;
}

.logo-text {
    font-size: 2.2rem;
    font-family: 'Sniglet', cursive;
    vertical-align: middle;
    margin-left: 3px;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline-block;
    float: none;
}

nav.nav-center ul li a.nav-link {
    font-weight: 500;
    font-size: 2.7rem;
    color: #fff;
    padding: 0 32px;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 58px;
        line-height: 58px;
    }
}

#profile-wrapper {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 1.7rem;
}

#profile-logo {
    font-size: 37px;
    margin-right: 10px;
}

.dropdown-content li > a {
    color: #000;
    font-size: 1.5rem;
}


/** Sidenav **/

.sidenav-trigger {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
}

@media only screen and (min-width: 993px) {
    .sidenav-trigger {
        display: none;
    }
}

.sidenav > li > a, .sidenav .subheader {
    color: #4c4c4c;
    height: 58px;
    line-height: 58px;
}

.sidenav > li > a {
    font-size: 1.4rem;
}

.sidenav .subheader {
    font-size: 2rem;
    text-align: center;
}

.sidenav .divider {
    margin: 0 0 8px 0;
    height: 2px;
}

.sidenav > li > a > i.material-icons {
    margin-right: 15px;
    margin-top: 5px;
}


/** Container **/

@media only screen and (min-width: 993px) {
    div.container {
        width: 62%;
    }
}

div.container {
    position: relative;
}

div.sidenav-container {
    padding-left: 300px;
    max-width: unset;
    width: 80%;
}


/** Breadcrumbs **/

nav.crumb-wrap {
    background: none;
    box-shadow: none;
}

nav.crumb-wrap .breadcrumb {
    color: rgb(128, 128, 128);
    font-size: 1.5rem;
}

nav.crumb-wrap .breadcrumb:last-child {
    color: rgb(0, 0, 0);
}

nav.crumb-wrap .breadcrumb:before {
    color: rgba(128, 128, 128, 0.7);
}


/** Exercise page **/

#exercise-card {
    font-size: 1.7rem;
}

#exercise-card #tabs-wrap {
    text-align: center;
}

#exercise-card .tabs .tab {
    text-transform: none;
}

#exercise-card .tabs .tab a {
    font-size: 2.1rem;
    color: gray;
}

#exercise-card .tabs .tab a:hover,
#exercise-card .tabs .tab a.active {
    background-color: transparent;
    color: #4DAB54;
}

#exercise-card .tabs .tab a:focus,
#exercise-card .tabs .tab a:focus.active {
    background-color: rgba(77, 171, 84, 0.2);
    outline: none;
}

#exercise-card .tabs .indicator {
    background-color: #4DAB54;
}

#exercise-card .card-content {
    border-top: 1px solid #e2e2e2;
}

#exercise-card .exercise-info .subheading {
    color: #4DAB54;
    font-weight: 500;
}

#exercise-card h2 {
    font-size: 2.3rem;
}

#exercise-card pre.feedback {
    white-space: pre-wrap;
    font-size: 1.5rem;
}

#exercise-card pre.auto-feedback {
    background-color: #f5f5f5;
}

#exercise-card .grade-number {
    font-weight: 500;
}

#exercise-card label[for=feedback],
#exercise-card label[for=grade] {
    font-size: 1.6rem;
}

#exercise-card #feedback:focus {
    border-bottom: 1px solid #469c45;
    -webkit-box-shadow: 0 1px 0 0 #469c45;
    box-shadow: 0 1px 0 0 #469c45;
}

#exercise-card #feedback:focus + label {
    color: #469c45;
}

#exercise-card #submission-info,
#exercise-card #submission-teacher,
#exercise-card #submission-auto {
    margin-bottom: 3rem;
}

#exercise-card #add-grade-wrap {
    padding: 2rem;
    border: 1px solid #eee;
    font-size: 16px;
}

#exercise-card #grade:focus {
    border-bottom: 1px solid #469c45;
    -webkit-box-shadow: 0 1px 0 0 #469c45;
    box-shadow: 0 1px 0 0 #469c45;
}

#exercise-card #grade:focus + label {
    color: #469c45;
}




.collection a.teacher-submission-item {
    line-height: 3rem;
    color: #000;
}



/** Courses page **/

#courses-list div.teacher-course-wrapper {
    position: relative;
}

#courses-list span.course-student-count {
    font-size: 1.9rem;
    color: #333;
}

#courses-list a.course-add-students {
    position: absolute;
    top: 19px;
    right: 20px;
    color: #4cab54;
    text-transform: none;
}

#courses-list a.course-add-students:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#courses-list a.course-add-students > i.material-icons {
    font-size: 2.5rem;
}


/** Exercises page **/

#exercises-list .deadline {
    font-size: 1.9rem;
}

#exercises-list .grade {
    text-align: right;
    font-size: 1.9rem;
}

#exercises-list .eval-logo-auto {
    vertical-align: sub;
    width: 24px;
    margin-left: 10px;
}

#exercises-list .eval-logo-teacher {
    color: #aaa;
    margin-left: 10px;
}

#exercises-list .eval-logo-missing {
    vertical-align: middle;
    width: 24px;
    margin-left: 10px;
}

#exercises-list .collection-item .row {
    margin-bottom: 0;
}


/* Code editor */

.editor-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    background-color: #eee;
}

.CodeMirror {
    font-size: 1.9rem;
    height: auto;
}

.CodeMirror-scroll {
    min-height: 20vh;
    max-height: 85vh;
}

.no-cursor .CodeMirror-cursors {
    visibility: hidden !important;
}


/** Participants page **/

h2#course-title {
    margin-top: 0;
    margin-bottom: 2rem;
}

h4.subsection {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

a#add-students-link {
    display: inline-block;
    margin-bottom: 2rem;
}

span.student-toast {
    font-size: 1.6rem;
}

#add-students-wrapper {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #eee;
    font-size: 1.6rem;
}

div#add-students-help {
    margin-bottom: 2rem;
}

div#new-students-list-wrapper {
    margin-bottom: 0;
}

label[for=new-students-list] {
    font-size: 1.6rem;
}

#new-students-list:focus {
    border-bottom: 1px solid #469c45;
    -webkit-box-shadow: 0 1px 0 0 #469c45;
    box-shadow: 0 1px 0 0 #469c45;
}

#new-students-list:focus + label {
    color: #469c45;
}

#new-students-list {
    min-height: 5rem;
}


/** Common **/


/** General **/

.display-none {
    display: none;
}


/** Buttons **/

.btn {
    background-color: #4DAB54;
}

.btn:hover {
    background-color: #4DAB54;
}


/** Divided collection **/

div.divided-collection a.collection-item {
    font-size: 2.1rem;
    line-height: 5rem;
    color: #333;
    padding: 10px 20px;
    margin-bottom: 1rem;
    border-bottom: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 2px 1px -2px rgba(0, 0, 0, 0.09),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.divided-collection a.collection-item:not(.active):hover {
    background-color: #e5e5e5;
}

div.divided-collection {
    border: none;
    overflow: unset;
    position: relative;
    margin-top: 2rem;
}


/** Bottom distribution bar **/

.bb-wrap {
    padding-bottom: 0 !important;
}

.bb {
    line-height: 0;
    white-space: nowrap;
    overflow: hidden;
}

div.divided-collection a.collection-item .bb {
    margin-left: -20px;
    margin-right: -20px;
}

.bb-item {
    display: inline-block;
    height: 20px;
    width: 100%;
}

.bb-green {
    border-bottom: 7px solid #4DAB54;
}

.bb-yellow {
    border-bottom: 7px solid #ffd052;
}

.bb-blue {
    border-bottom: 7px solid #688ffd;
}

.bb-grey {
    border-bottom: 7px solid #c1c1c1;
}


/** Page title **/

h3.title {
    margin-bottom: 0;
    margin-top: 1.5rem;
}

h3.no-crumb {
    margin-top: 5rem;
}

div.title-wrap {
    position: relative;
}

.title-button {
    position: absolute;
    right: 0;
    bottom: 0;
}

div.title-wrap > .title-button > i.material-icons {
    font-size: 2rem;
}


/** Loading placeholders **/

.loading-collection {
    border: none;
    margin-top: 4rem;
}

@keyframes pulse {
    0%,
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    90%,
    100% {
        opacity: 1;
    }
}

.loading-item {
    height: 6rem;
    margin: 2rem;
    background: rgb(214, 214, 214);
    animation: pulse 1.5s linear infinite alternate;
    border-radius: 0.5rem;
    opacity: 0.3;
}

.loading-collection :nth-child(1) {
    width: 20%; /* Page title */
}

.loading-collection :nth-child(2) {
    animation-delay: 0.2s;
}

.loading-collection :nth-child(3) {
    animation-delay: 0.5s;
}

.loading-collection :nth-child(4) {
    animation-delay: 0.7s;
}


/** Icon **/

i.material-icons {
    vertical-align: middle;
}


/** Toast **/

#toast-container {
    top: 58px;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
}


.toast:first-child {
    margin-top: 0;
}

.toast .btn-flat {
    min-width: 100px;
}


/** Tooltip **/

.material-tooltip {
    font-size: 1.6rem;
}


/** Green waves **/

.waves-effect.waves-green .waves-ripple {
    background-color: #a5c9a4;
}
