/** Page, body, general **/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    height: 100%;
    color: #333;
}

body {
    background: url('../img/bg_v3.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 320px;
}


/** Navbar **/

nav {
    background-color: #4DAB54;
}

.logo-img {
    max-height: 58px;
    height: 30px;
    vertical-align: middle;
}

.logo-text {
    font-size: 2.2rem;
    font-family: 'Sniglet', cursive;
    vertical-align: middle;
    margin-left: 3px;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline-block;
    float: none;
}

nav.nav-center ul li a.nav-link {
    font-weight: 500;
    font-size: 2.7rem;
    color: #fff;
    padding: 0 32px;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 58px;
        line-height: 58px;
    }
}

#profile-wrapper {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 1.7rem;
}

#profile-logo {
    font-size: 37px;
    margin-right: 10px;
}

.dropdown-content li > a {
    color: #000;
    font-size: 1.5rem;
}


/** Sidenav **/

.sidenav-trigger {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
}

@media only screen and (min-width: 993px) {
    .sidenav-trigger {
        display: none;
    }
}

.sidenav > li > a, .sidenav .subheader {
    color: #4c4c4c;
    height: 58px;
    line-height: 58px;
}

.sidenav > li > a {
    font-size: 1.4rem;
}

.sidenav .subheader {
    font-size: 2rem;
    text-align: center;
}

.sidenav .divider {
    margin: 0 0 8px 0;
    height: 2px;
}

.sidenav > li > a > i.material-icons {
    margin-right: 15px;
    margin-top: 5px;
}


/** Container **/

div.container {
    width: 95%;
    position: relative;
}

@media only screen and (min-width: 993px) {
    div.container {
        width: 75%;
    }
}

@media only screen and (min-width: 1200px) {
    div.container {
        width: 60%;
    }
}

#content-container {
    font-size: 1.6rem;
}

div.sidenav-container {
    padding-left: 300px;
    max-width: unset;
    width: 80%;
}


/** Breadcrumbs **/

nav.crumb-wrap {
    background: none;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
    height: unset;
    min-height: 5rem;
}

nav.crumb-wrap .breadcrumb {
    color: #777;
    font-size: 1.4rem;
    line-height: 3rem;
}
nav.crumb-wrap .breadcrumb:last-child {
    color: #222;
}

nav.crumb-wrap .breadcrumb:after {
    content: '\E5CC';
    color: #aaa;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 2.2rem;
    margin: 0 1rem 0 1rem;
    -webkit-font-smoothing: antialiased;
}
nav.crumb-wrap .breadcrumb:last-child:after {
    display: none;
}

nav.crumb-wrap .breadcrumb:before {
    display: none;
}


/** Exercise page **/

#exercise-card #tabs-wrap {
    text-align: center;
}

#exercise-card .tabs .tab {
    text-transform: none;
}

#exercise-card .tabs .tab a {
    font-size: 2.1rem;
    color: gray;
}

#exercise-card .tabs .tab a:hover,
#exercise-card .tabs .tab a.active {
    background-color: transparent;
    color: #4DAB54;
}

#exercise-card .tabs .tab a:focus,
#exercise-card .tabs .tab a:focus.active {
    background-color: rgba(77, 171, 84, 0.2);
    outline: none;
}

#exercise-card .tabs .indicator {
    background-color: #4DAB54;
}

#exercise-card .card-content {
    border-top: 1px solid #e2e2e2;
}

#exercise-card .subheading {
    color: #4DAB54;
    font-weight: 500;
}

#exercise-card h2 {
    font-size: 2.3rem;
}

#exercise-card pre.feedback {
    white-space: pre-wrap;
    font-size: 1.5rem;
}

#exercise-card pre.auto-feedback {
    background-color: #f5f5f5;
}

#exercise-card .grade-number {
    font-weight: 500;
}

#exercise-card label[for=feedback],
#exercise-card label[for=grade] {
    font-size: 1.6rem;
}

#exercise-card #feedback:focus {
    border-bottom: 1px solid #469c45;
    -webkit-box-shadow: 0 1px 0 0 #469c45;
    box-shadow: 0 1px 0 0 #469c45;
}

#exercise-card #feedback:focus + label {
    color: #469c45;
}

#exercise-card #submission-info,
#exercise-card .assessment {
    margin-bottom: 3rem;
}

#exercise-card #grade:focus {
    border-bottom: 1px solid #469c45;
    -webkit-box-shadow: 0 1px 0 0 #469c45;
    box-shadow: 0 1px 0 0 #469c45;
}

#exercise-card #grade:focus + label {
    color: #469c45;
}

#exercise-card .collection-item .row {
    margin-bottom: 0;
}

#exercise-card .collection-item.inactive {
    color: #aaa;
}

#exercise-card .collection-item.inactive:hover {
    background-color: unset;
}

#exercise-card .eval-logo-auto {
    vertical-align: sub;
    width: 24px;
    margin-left: 10px;
}

#exercise-card .time {
    font-size: 1.9rem;
}

#exercise-card .grade {
    text-align: right;
    font-size: 1.9rem;
}

#exercise-card .eval-logo-teacher {
    color: #aaa;
    margin-left: 10px;
}

#exercise-card .eval-logo-missing {
    vertical-align: middle;
    width: 24px;
    margin-left: 10px;
}

#exercise-card .divided-collection .collection-item {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1),
    0 2px 1px -2px rgba(0, 0, 0, 0.09),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

#exercise-card .submission-title {
    display: inline-block;
    margin: 2.5rem 0 1.5rem 0;
}

#exercise-card span.last-submission-label {
    margin-left: 1rem;
}

#exercise-card h3 {
    font-size: 2.3rem;
}

#exercise-card h4 {
    font-size: 2rem;
}

#exercise-card .all-submissions-wrap {
    max-height: 35vh;
    overflow: auto;
}

#exercise-card .eval-logo-auto.sm {
    width: 22px;
}

#exercise-card .eval-logo-missing.sm {
    width: 22px;
}


/** Courses page **/

#courses-list div.teacher-course-wrapper {
    position: relative;
}

#courses-list a.course-add-students {
    position: absolute;
    top: 11px;
    right: 5px;
    color: #4cab54;
    text-transform: none;
}

#courses-list span.course-student-count {
    font-size: 1.9rem;
    color: #333;
    margin-left: 1rem;
    display: none;
}

@media only screen and (min-width: 400px) {
    #courses-list span.course-student-count {
        display: initial;
    }
    #courses-list a.course-add-students {
        right: 20px;
    }
}

@media only screen and (min-width: 600px) {
    #courses-list a.course-add-students {
        top: 18px;
    }
}

#courses-list a.course-add-students:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#courses-list a.course-add-students > i.material-icons {
    font-size: 2.5rem;
}


/** Exercises page **/

#exercises-list .deadline {
    font-size: 1.9rem;
}

#exercises-list .grade {
    text-align: right;
    font-size: 1.9rem;
}

#exercises-list .eval-logo-auto {
    vertical-align: sub;
    width: 24px;
    margin-left: 10px;
}

#exercises-list .eval-logo-teacher {
    color: #aaa;
    margin-left: 10px;
}

#exercises-list .eval-logo-missing {
    vertical-align: middle;
    width: 24px;
    margin-left: 10px;
}

#exercises-list .collection-item .row {
    margin-bottom: 0;
}


/* Code editor */

.editor-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    background-color: #eee;
}

.CodeMirror {
    font-size: 1.9rem;
    height: auto;
}

.CodeMirror-scroll {
    min-height: 20vh;
    max-height: 85vh;
}

.no-cursor .CodeMirror-cursors {
    visibility: hidden !important;
}


/** Participants page **/

#participants-container h4.subsection {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#participants-container #add-students-wrap {
    border: 1px solid #ddd;
    background-color: #eee;
}

#participants-container div#add-students-help {
    margin-bottom: 2rem;
}

#participants-container div#new-students-form-wrap {
    margin-bottom: 0;
}

#participants-container #new-students-field {
    min-height: 6rem;
}

#participants-container .card .card-content {
    padding: 5px 10px 0 10px;
    margin-top: 20px;
}

#participants-container table th {
    font-weight: 500;
}


/** Common **/


/** General **/

.display-none {
    display: none;
}

.flex {
    display: flex;
}


/** General animations **/

@keyframes eye-blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%, 95% {
        transform: scale(1, 1);
    }
}


/** Buttons **/

.btn {
    background-color: #4DAB54;
}

.btn:hover {
    background-color: #4DAB54;
}


/** Links **/

.toggle-link {
    display: block;
}

.toggleable-wrap {
    padding: 2rem;
    border: 1px solid #eee;
}


/** Notes **/

.note {
    display: inline-flex;
    padding: 2px 5px;
    margin-bottom: 1rem;
}

.note :not(:first-child) {
    margin-left: 0.5rem;
}

.note.warn {
    background-color: #fbf7e5;
    border: 1px solid #f9eaa9;
}

.note .material-icons {
    margin-right: 10px;
}

.material-icons.warn {
    color: #da8403;
}


/** Form elements **/

.input-field input[type=number],
.input-field textarea {
    height: 3.5rem;
}

.input-field label {
    pointer-events: all;
}

textarea:focus {
    border-bottom: 1px solid #469c45 !important;
    -webkit-box-shadow: 0 1px 0 0 #469c45 !important;
    box-shadow: 0 1px 0 0 #469c45 !important;
}

textarea + label {
    font-size: 1.6rem !important;
}

textarea:focus + label {
    color: #469c45 !important;
}


/** Divided collection **/

div.divided-collection a.collection-item {
    font-size: 1.8rem;
    line-height: 4rem;
    color: #333;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-bottom: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 2px 1px -2px rgba(0, 0, 0, 0.09),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 600px) {
    div.divided-collection a.collection-item {
        font-size: 2.1rem;
        line-height: 5rem;
    }
}

.divided-collection .collection-item.sm {
    padding-top: 0;
    line-height: 4.5rem;
    font-size: 1.6rem;
}

div.divided-collection a.collection-item:last-child {
    margin-bottom: 0;
}

.divided-collection a.collection-item:not(.active):hover {
    background-color: #e5e5e5;
}

div.divided-collection {
    border: none;
    overflow: unset;
    position: relative;
}

.divided-collection .collection-item.sm .content {
    display: flex;
    justify-content: space-between;
}


/** Bottom distribution bar **/

.bb-wrap {
    padding-bottom: 0 !important;
}

.bb {
    line-height: 0;
    white-space: nowrap;
    overflow: hidden;
}

.bb.sm {
    font-size: 1rem;
}

div.divided-collection a.collection-item .bb {
    margin-left: -20px;
    margin-right: -20px;
}

.bb-item {
    display: inline-block;
    height: 20px;
    width: 100%;
}

.bb-item.sm {
    border-width: 3px;
    height: 0;
}

.bb-green {
    border-bottom: 7px solid #4DAB54;
}

.bb-yellow {
    border-bottom: 7px solid #ffd052;
}

.bb-blue {
    border-bottom: 7px solid #688ffd;
}

.bb-grey {
    border-bottom: 7px solid #c1c1c1;
}


/** Page title **/

h3.title {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

@media only screen and (min-width: 600px) {
    h3.title {
        font-size: 2.9rem;
    }
}

.title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-wrap.no-crumb {
    margin-top: 3.5rem;
}

.title-button > .text {
    margin-left: 1rem;
    vertical-align: middle;
    display: none;
}

@media only screen and (min-width: 400px) {
    .title-button > .text {
        display: initial;
    }
}

div.title-wrap > .title-button > i.material-icons {
    font-size: 2rem;
}


/** Loading placeholders **/

.loading-collection {
    border: none;
    margin-top: 4rem;
}

@keyframes pulse {
    0%,
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    90%,
    100% {
        opacity: 1;
    }
}

.loading-item {
    height: 6rem;
    margin: 2rem;
    background: rgb(214, 214, 214);
    animation: pulse 1.5s linear infinite alternate;
    border-radius: 0.5rem;
    opacity: 0.3;
}

.loading-collection :nth-child(1) {
    width: 20%; /* Page title */
    height: 3.7rem;
    margin-bottom: 2.5rem;
}

.loading-collection :nth-child(2) {
    animation-delay: 0.2s;
}

.loading-collection :nth-child(3) {
    animation-delay: 0.5s;
}

.loading-collection :nth-child(4) {
    animation-delay: 0.7s;
}


/** Empty placeholders **/

.missing-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
    margin-top: 2rem;
    padding: 20px;
    background-color: #e3e3e3;
}

.missing-content-wrap .robot {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 50px;
    height: 40px;
    padding: 11px 7px 0 7px;
    background-color: #a8a8a8;
    border-radius: 20%;
}

.missing-content-wrap .antenna {
    width: 8px;
    height: 10px;
    flex-shrink: 0;
    background-color: #a8a8a8;
}

.missing-content-wrap .antennaball {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background-color: #a8a8a8;
    border-radius: 50%;
    transform: translateY(3px);
}

.missing-content-wrap .antennaball:hover {
    background-color: #fbff00;
    box-shadow: 0 0 10px 10px rgba(255, 255, 190, 0.8);
}

.missing-content-wrap .robot-eye {
    background: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    animation: eye-blink 3s infinite;
}

.missing-content-wrap .text {
    font-size: 2rem;
    color: #828282;
}


/** Icon **/

i.material-icons {
    vertical-align: middle;
}


/** Toast **/

#toast-container {
    top: 58px;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
}


.toast:first-child {
    margin-top: 0;
}

.toast .btn-flat {
    min-width: 100px;
}

.toast .student-toast {
    font-size: 1.6rem;
}


/** Tooltip **/

.material-tooltip {
    font-size: 1.6rem;
}


/** Green waves **/

.waves-effect.waves-green .waves-ripple {
    background-color: #a5c9a4;
}


/** Full page loading **/

.loading-full-page {
    display: flex;
    min-height: 85vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loading-full-page .loading-wrap {
    background-color: #eee;
    box-shadow: 0 0 50px 50px #eee;
    border-radius: 30%;
    padding: 50px 80px 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-full-page .robot {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 75px;
    height: 60px;
    padding: 16px 10px 0 10px;
    background-color: #a8a8a8;
    border-radius: 20%;
}

.loading-full-page .antenna {
    width: 12px;
    height: 15px;
    flex-shrink: 0;
    background-color: #a8a8a8;
}

.loading-full-page .antennaball {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #a8a8a8;
    border-radius: 50%;
    transform: translateY(4px);
    animation: morse 18825ms step-start;
}

.loading-full-page .robot-eye {
    background: white;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    animation: eye-blink 3s infinite;
}

@keyframes morse {
    /* @formatter:off */
    0% {background-color: #a8a8a8; box-shadow: none;}1.2%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}1.59%{background-color: #a8a8a8; box-shadow: none;}1.99%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}2.39%{background-color: #a8a8a8; box-shadow: none;}3.59%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}3.98%{background-color: #a8a8a8; box-shadow: none;}5.18%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}6.37%{background-color: #a8a8a8; box-shadow: none;}7.57%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}7.97%{background-color: #a8a8a8; box-shadow: none;}9.16%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}9.56%{background-color: #a8a8a8; box-shadow: none;}10.76%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}11.95%{background-color: #a8a8a8; box-shadow: none;}12.35%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}12.75%{background-color: #a8a8a8; box-shadow: none;}13.15%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}13.55%{background-color: #a8a8a8; box-shadow: none;}14.74%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}15.94%{background-color: #a8a8a8; box-shadow: none;}16.33%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}16.73%{background-color: #a8a8a8; box-shadow: none;}17.93%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}18.33%{background-color: #a8a8a8; box-shadow: none;}19.52%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}19.92%{background-color: #a8a8a8; box-shadow: none;}21.12%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}21.51%{background-color: #a8a8a8; box-shadow: none;}22.71%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}23.11%{background-color: #a8a8a8; box-shadow: none;}23.51%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}24.7%{background-color: #a8a8a8; box-shadow: none;}25.1%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}25.5%{background-color: #a8a8a8; box-shadow: none;}26.69%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}27.09%{background-color: #a8a8a8; box-shadow: none;}27.49%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}28.69%{background-color: #a8a8a8; box-shadow: none;}29.08%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}31.87%{background-color: #a8a8a8; box-shadow: none;}32.27%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}32.67%{background-color: #a8a8a8; box-shadow: none;}33.86%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}36.65%{background-color: #a8a8a8; box-shadow: none;}37.05%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}37.45%{background-color: #a8a8a8; box-shadow: none;}38.65%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}39.04%{background-color: #a8a8a8; box-shadow: none;}40.24%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}41.43%{background-color: #a8a8a8; box-shadow: none;}41.83%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}42.23%{background-color: #a8a8a8; box-shadow: none;}42.63%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}43.82%{background-color: #a8a8a8; box-shadow: none;}45.02%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}45.42%{background-color: #a8a8a8; box-shadow: none;}46.61%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}47.01%{background-color: #a8a8a8; box-shadow: none;}47.41%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}47.81%{background-color: #a8a8a8; box-shadow: none;}48.21%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}49.4%{background-color: #a8a8a8; box-shadow: none;}49.8%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}50.2%{background-color: #a8a8a8; box-shadow: none;}51.39%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}52.59%{background-color: #a8a8a8; box-shadow: none;}52.99%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}53.39%{background-color: #a8a8a8; box-shadow: none;}54.58%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}54.98%{background-color: #a8a8a8; box-shadow: none;}55.38%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}56.57%{background-color: #a8a8a8; box-shadow: none;}57.77%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}58.17%{background-color: #a8a8a8; box-shadow: none;}58.57%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}58.96%{background-color: #a8a8a8; box-shadow: none;}59.36%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}60.56%{background-color: #a8a8a8; box-shadow: none;}61.75%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}62.15%{background-color: #a8a8a8; box-shadow: none;}63.35%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}63.75%{background-color: #a8a8a8; box-shadow: none;}64.14%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}64.54%{background-color: #a8a8a8; box-shadow: none;}64.94%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}65.34%{background-color: #a8a8a8; box-shadow: none;}66.53%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}66.93%{background-color: #a8a8a8; box-shadow: none;}68.13%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}70.92%{background-color: #a8a8a8; box-shadow: none;}71.31%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}71.71%{background-color: #a8a8a8; box-shadow: none;}72.11%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}72.51%{background-color: #a8a8a8; box-shadow: none;}72.91%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}73.31%{background-color: #a8a8a8; box-shadow: none;}73.71%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}74.9%{background-color: #a8a8a8; box-shadow: none;}75.3%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}75.7%{background-color: #a8a8a8; box-shadow: none;}76.89%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}78.09%{background-color: #a8a8a8; box-shadow: none;}78.49%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}78.88%{background-color: #a8a8a8; box-shadow: none;}80.08%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}80.48%{background-color: #a8a8a8; box-shadow: none;}80.88%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}82.07%{background-color: #a8a8a8; box-shadow: none;}82.47%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}82.87%{background-color: #a8a8a8; box-shadow: none;}84.06%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}84.46%{background-color: #a8a8a8; box-shadow: none;}84.86%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}86.06%{background-color: #a8a8a8; box-shadow: none;}87.25%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}87.65%{background-color: #a8a8a8; box-shadow: none;}88.05%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}88.45%{background-color: #a8a8a8; box-shadow: none;}89.64%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}90.04%{background-color: #a8a8a8; box-shadow: none;}91.24%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}92.43%{background-color: #a8a8a8; box-shadow: none;}93.63%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}94.02%{background-color: #a8a8a8; box-shadow: none;}94.42%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}94.82%{background-color: #a8a8a8; box-shadow: none;}96.02%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}96.41%{background-color: #a8a8a8; box-shadow: none;}96.81%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}97.21%{background-color: #a8a8a8; box-shadow: none;}98.41%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}98.8%{background-color: #a8a8a8; box-shadow: none;}100.0%{background-color: #fbff00; box-shadow:0 0 10px 10px rgba(255, 255, 190, 0.8);}
    /* @formatter:on */
}


/** XS-screen addon **/

@media only screen and (max-width: 399px) {
    .row .col.xs1 {
        width: 8.3333333333%;
    }
    .row .col.xs2 {
        width: 16.6666666667%;
    }
    .row .col.xs3 {
        width: 25%;
    }
    .row .col.xs4 {
        width: 33.3333333333%;
    }
    .row .col.xs5 {
        width: 41.6666666667%;
    }
    .row .col.xs6 {
        width: 50%;
    }
    .row .col.xs7 {
        width: 58.3333333333%;
    }
    .row .col.xs8 {
        width: 66.6666666667%;
    }
    .row .col.xs9 {
        width: 75%;
    }
    .row .col.xs10 {
        width: 83.3333333333%;
    }
    .row .col.xs11 {
        width: 91.6666666667%;
    }
    .row .col.xs12 {
        width: 100%;
    }
}

