:root, :host {
    --md-sys-color-background: #f8fbf0;
    --md-sys-color-on-background: #191d16;
    /*--md-sys-color-surface: #f8fbf0;*/
    --md-sys-color-surface-dim: #d8dbd1;
    --md-sys-color-surface-bright: #f8fbf0;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f2f5ea;
    --md-sys-color-surface-container: #ecefe4;
    --md-sys-color-surface-container-high: #e7e9df;
    --md-sys-color-surface-container-highest: #e1e4d9;
    --md-sys-color-on-surface: #191d16;
    --md-sys-color-surface-variant: #dde5d4;
    --md-sys-color-on-surface-variant: #42493c;
    --md-sys-color-inverse-surface: #2e322a;
    --md-sys-color-inverse-on-surface: #eff2e7;
    --md-sys-color-outline: #727a6b;
    --md-sys-color-outline-variant: #c1c9b8;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #346b1d;
    --md-sys-color-primary: #23590b;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #477f2f;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #99d77b;
    --md-sys-color-secondary: #4d6541;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #d3efc1;
    --md-sys-color-on-secondary-container: #3a502f;
    --md-sys-color-tertiary: #00565b;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #007e85;
    --md-sys-color-on-tertiary-container: #ffffff;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;

    /* make secondary tab icon colours lighter */
    /* default: --md-sys-color-on-surface-variant */
    --md-secondary-tab-icon-color: #65705d;
    /* default: --md-sys-color-on-surface */
    --md-secondary-tab-active-icon-color: #343b2e;

    /* temporary adjustments */
    /* all colours should be changed together, keep old ones for now */
    --md-sys-color-surface: #fff;

    /* adjust font sizes to our weird rem size - revert once we make our 1rem = 16px or similar */
    --md-sys-typescale-body-large-size: 16px;
    --md-sys-typescale-title-small-size: 14px;
}