:root, :host {
    --md-sys-color-background: #f8fbf0;
    --md-sys-color-on-background: #191d16;
    /*--md-sys-color-surface: #f8fbf0;*/
    --md-sys-color-surface-dim: #d8dbd1;
    --md-sys-color-surface-bright: #f8fbf0;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f2f5ea;
    --md-sys-color-surface-container: #ecefe4;
    --md-sys-color-surface-container-high: #e7e9df;
    --md-sys-color-surface-container-highest: #e1e4d9;
    --md-sys-color-on-surface: #191d16;
    --md-sys-color-surface-variant: #dde5d4;
    --md-sys-color-on-surface-variant: #42493c;
    --md-sys-color-inverse-surface: #2e322a;
    --md-sys-color-inverse-on-surface: #eff2e7;
    --md-sys-color-outline: #727a6b;
    --md-sys-color-outline-variant: #c1c9b8;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #346b1d;
    --md-sys-color-primary: #23590b;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #477f2f;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #99d77b;
    --md-sys-color-secondary: #4d6541;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #d3efc1;
    --md-sys-color-on-secondary-container: #3a502f;
    --md-sys-color-tertiary: #00565b;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #007e85;
    --md-sys-color-on-tertiary-container: #ffffff;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;

    /* make secondary tab icon colours lighter */
    /* default: --md-sys-color-on-surface-variant */
    --md-secondary-tab-icon-color: #65705d;
    /* default: --md-sys-color-on-surface */
    --md-secondary-tab-active-icon-color: #343b2e;

    /* colour text btns like icon buttons - less intensity */
    --md-text-button-icon-color: var(--md-sys-color-on-surface-variant);
    --md-text-button-disabled-icon-color: var(--md-sys-color-on-surface);
    --md-text-button-focus-icon-color: var(--md-sys-color-on-surface-variant);
    --md-text-button-hover-icon-color: var(--md-sys-color-on-surface-variant);
    --md-text-button-pressed-icon-color: var(--md-sys-color-on-surface-variant);
    --md-text-button-hover-state-layer-color: var(--md-sys-color-on-surface-variant);
    --md-text-button-pressed-state-layer-color: var(--md-sys-color-on-surface-variant);
    /* these vars have no direct analogue, but we just reuse the icon colours */
    --md-text-button-label-text-color: var(--md-text-button-icon-color);
    --md-text-button-focus-label-text-color: var(--md-text-button-focus-icon-color);
    --md-text-button-hover-label-text-color: var(--md-text-button-hover-icon-color);
    --md-text-button-pressed-label-text-color: var(--md-text-button-pressed-icon-color);


    --md-menu-container-color: #f3f4f2;
    --md-menu-item-container-color: var(--md-menu-container-color);

    /* temporary adjustments */
    /* all colours should be changed together, keep old ones for now */
    --md-sys-color-surface: #fff;

    /* adjust font sizes to our weird rem size - revert once we make our 1rem = 16px or similar */
    /* originally 16px (1rem), changed because of dropdown menu items */
    --md-sys-typescale-body-large-size: 14px;
    --md-sys-typescale-body-large-line-height: 24px;
    --md-sys-typescale-title-small-size: 14px;
    --md-sys-typescale-label-large-size: 14px;
    --md-sys-typescale-label-large-line-height: 20px;

    /* tab icons smaller (24 -> 18) */
    --md-secondary-tab-icon-size: 18px;
    --md-primary-tab-icon-size: 18px;
}

md-icon-button.small {
    --md-icon-button-icon-size: 18px;
}

/* keep menu items from wrapping */
[slot="headline"] {
    white-space: nowrap;
}

md-menu-item > md-icon {
    width: 18px;
    height: 18px;
}
