
<nav class="nav-center" role="navigation">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo left"><img class="logo-img" src="img/main-logo.svg" alt="Lahendus"/></a>
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li><a class="nav-link" href="courses.html">Kursused</a></li>
                <li><a class="nav-link" href="courses.html">Abi</a></li>
            </ul>
        </div>
    </div>
    <div id="account">
        <a class="dropdown-trigger" href="#!" data-target="profile-dropdown">
            <i id="account-logo" class="left material-icons">account_circle</i><span>Karmen</span>
        </a>
    </div>
</nav>

<!-- Profile dropdown menu structure -->
<ul id="profile-dropdown" class="dropdown-content">
    <li><a href="#!">Konto andmed</a></li>
    <li><a href="#!">Logi välja</a></li>
</ul>

