
<nav class="nav-center" role="navigation">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo left"><img class="logo-img" src="img/main-logo.svg" alt="Lahendus"/></a>
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li><a class="nav-link" href="courses.html">Kursused</a></li>
                <li><a class="nav-link" href="courses.html">Abi</a></li>
            </ul>
        </div>
    </div>
    <a href="https://idp.lahendus.ut.ee/auth/realms/master/account">
        <div id="account">
            <i id="account-logo" class="left material-icons">account_circle</i><span>Karmen</span>
        </div>
    </a>
</nav>
