
object AppProperties {
    const val AppName = "Lahendus"

    const val WUI_ROOT_PRETTY = "dev.lahendus.ut.ee"
    const val WUI_ROOT = "https://dev.lahendus.ut.ee"
    const val EMS_ROOT = "https://dev.ems.lahendus.ut.ee/v2"

    const val KEYCLOAK_CONF_URL = "https://dev.lahendus.ut.ee/static/keycloak.json"
    const val KEYCLOAK_SILENT_SSO_URL = "https://dev.lahendus.ut.ee/static/keycloak-silent-sso-redirect.html"
    const val KEYCLOAK_ADMIN_CONSOLE_URL = "https://dev.idp.lahendus.ut.ee/auth/admin/master/console"
    const val KEYCLOAK_TOKEN_MIN_VALID_SEC = 30

    const val ISSUE_TRACKER_URL = "https://easy.myjetbrains.com/youtrack/issues"

    const val LOG_DEBUG_ENABLED = true
    const val LOG_WARN_ENABLED = true

    const val CM_MODE_URL_TEMPLATE = "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.1/mode/%N/%N.min.js"

    const val MATHJAX_SRC = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
    const val MATHJAX_CONF = "MathJax = {options: {renderActions: {addMenu: [0, '', '']}}};"

    const val REPO_URL = "https://github.com/kspar/easy"
    const val DISCORD_INVITE_ID = ""
    const val TOS_URL = ""

    const val STATIC_UPDATE_ENABLED = true
    const val STATIC_UPDATE_POLL_SEC = 5 * 60

    const val EMBED_RESIZER_SCRIPT_URL = "https://dev.lahendus.ut.ee/static/js/ez-embed-frame-resizer.js"
}
