spring:
  datasource:
    jdbc-url: "<url>"
    username: "<username>"
    password: "<password>"
  mail:
    host: "<mailhost>"
    properties:
      mail:
        transport:
          protocol: "smtp"
        smtp:
          port: 587
          starttls:
            enable: true


easy:
  ems:
    auth-enabled: true
    aas:
      psk: "<aas-preshared-key>"
    mail:
      sys:
        enabled: true
        from: "<from-address>"
        to: "<to-address>"
