
server:
  port: 8080

spring:
  datasource:
    jdbc-url: "<url>"
    username: "<username>"
    password: "<password>"
  mail:
    host: "<mailhost>"
    properties:
      mail:
        transport:
          protocol: "smtp"
        smtp:
          port: 587
          starttls:
            enable: true


easy:
  aas:
    auth-enabled: true
    ems:
      psk: "<ems-preshared-key>"
      allowed-delay-sec: 30
    mail:
      sys:
        enabled: true
        from: "<from-address>"
        to: "<to-address>"
