
/* Note: all rules should be applied only to #exercise-text children */

#exercise-text {
    font-size: 1.6rem;
}

#exercise-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#exercise-text .italic {
    font-style: italic;
}

#exercise-text code {
    background-color: #eeeeee;
}
