* {
    font-family: "Segoe UI";
}

body {
    background: url('../img/taust.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: gray;
}

a:hover {
    color: #4DAB54;
}

/* change the background color */
.navbar-green {
    background-color: #4DAB54;
}
/* change the brand, link and text color */
.navbar-green .navbar-brand,
.navbar-green .navbar-text,
 .navbar-green .navbar-nav .nav-link {
    font-weight: 600;
    color: #000000;
}

/* change the color of active or hovered links */
.navbar-green .nav-item.active .nav-link,
.navbar-green .nav-item:focus .nav-link,
.navbar-green .nav-item:hover .nav-link {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar {
    font-size: 24pt !important;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

.breadcrumb-item.active {
    color: #000000;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.nav-tabs {
    font-size: 20pt !important;
    font-weight: 600;
    border-width: 2px;
}

.nav-tabs .nav-item {
    margin-bottom: -2px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    color: #4DAB54;
    border-color: #4DAB54;
    border-width: 0 0 2px;
}

.card {
    font-size: 16pt;
}

.subheading {
    color: #4DAB54;
}

.answer textarea {
    font-size: 16pt;
    font-family: 'Segoe UI';
}

h2 {
    font-size: 20pt;
    font-weight: 600;
}

.btn-success {
    background-color: #4DAB54;
    border-color: #4DAB54;
}

.card-header {
    background-color: #ffffff;
    cursor: pointer;
}