html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    background: url('../img/taust.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo-img {
    max-height: 58px;
    height: 2.1rem;
}


nav {
    background-color: #4DAB54;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline-block;
    float: none;
}

nav.nav-center ul li a {
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
    padding: 0 32px;
    /*    display: inline-block;*/
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 58px;
        line-height: 58px;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 62%;
    }
}

nav.clean {
    background: none;
    box-shadow: none;
}

nav.clean .breadcrumb {
    color: rgb(128, 128, 128);
    font-size: 1.5rem;
}

nav.clean .breadcrumb:last-child {
    color: rgb(0, 0, 0);
}

nav.clean .breadcrumb:before {
    color: rgba(128, 128, 128, 0.7);
}

.tabs .tab {
    text-transform: none;
}

.tabs .tab a {
    font-size: 2.1rem;
    color: gray;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #4DAB54;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(77, 171, 84, 0.2);
    outline: none;
}

.tabs .indicator {
    background-color: #4DAB54;
}

.bt {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.card {
    font-size: 1.7rem;
}

.subheading {
    color: #4DAB54;
    font-weight: 500;
}

h2 {
    font-size: 2.3rem;
}

.btn {
    background-color: #4DAB54;
}

.btn:hover {
    background-color: #4DAB54;
}

.collapsible-header {
    margin-bottom: 0;
}

#logo {
    margin-right: 100px;
}

#account {
    position: absolute;
    right: 25px;
    top: 3px;
    font-size: 1.7rem;
}


i.left {
    margin-right: 10px;
}

#account-logo {
    font-size: 37px;
}


#exercise-list {
    font-size: 2.5rem;
    margin-top: 5rem;
}

.collection a.course-item {
    line-height: 5rem;
    color: #000;
}

