
server:
  port: 8080

spring:
  datasource:
    jdbc-url: "<url>"
    username: "<username>"
    password: "<password>"
  mail:
    host: "<mailhost>"
    properties:
      mail:
        transport:
          protocol: "smtp"
        smtp:
          port: 587
          starttls:
            enable: true


easy:
  core:
    auth-enabled: true
    mail:
      sys:
        enabled: true
        from: "<from-address>"
        to: "<to-address>"
    auto-assess:
        allowed-wait-for-user:
          ms: "15000"
        timeout-check:
          cron: "0 * * * * *"
          clear-older-than:
            ms: "60000"
        fixed-delay:
          ms: "3000"
    service:
      await-assessment:
        sleep-start-ms: 1000
        sleep-step-ms: 150
        timeout-steps: 20

    moodle-sync:
      users:
        url: "<url>"
        cron: "0 5 4 * * *"
      grades:
        url: "<url>"

    pending-access:
      clean:
        cron: "0 5 3 * * *"

    exercise-index-normalisation:
      cron: "0 5 3 * * *"
